{% extends "logbase.html" %}

{% block body %}
    <div class="content">
        <h1 class="display-3" style="font-weight: 700; padding-left: 5vw; padding-top: 5vh;">{{ user.displayName }}</h1>
    </div>

    <div class="container col-md-5 bg-light border border-primary text-center" style="padding: 2em; border-radius: 1em;">
        <h3>First Name: {{ user.firstName }}</h3>
        <h3>Last Name: {{ user.lastName }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Grade: {{ user.grade }}</h3>
        {% if isFriend == False %}
        <a href="/sendfriendrequest/{{ user.userID }}" class="btn btn-warning">Send Friend Request</a>
        {% endif %}
    </div>

    <div class="container my-5">
        <!-- Button trigger modal -->
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal"  data-target="#newTimelinePostModal">
                Make a Post on Your Timeline
            </button>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="newTimelinePostModal" tabindex="-1" role="dialog" aria-labelledby="newTimelinePostModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/post" method=POST>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name="title" type="text" class="form-control" id="title"  placeholder="Enter title" required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea name="content" rows="8" class="form-control" id="content" placeholder="Enter content" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h2>Timeline</h2>
        <hr>
        {% for post in posts %}
        <div class="row" style="margin-left: 5vw; margin-right: 5vw; margin-top: 5vh;">
            <div class="container col-md-10 bg-light border border-primary" style="padding: 2em; border-radius: 1em;">
                <div class="col">
                    <h2>{{ post.title }}</h2>
                    <h5>{{ post.timestamp }}<h5>
                    <hr>
                    <pre>{{ post.content }}</pre>
                    <a href="/post/{{ post.postID }}" class="btn btn-success">View Post and Comments</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}